* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
.search {
  display: flex;
}
.search img {
  width: 20px;
  height: 20px;
  filter: invert(100%);
  margin-top: 5px;
}
.search .frm form input {
  display: flex;
  width: 235px;
  height: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 1px;
  /* padding-top: 20px; */
  text-align: center;
  border-radius: 10px;
  background-color: rgb(255, 251, 251);
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
}
section {
  padding: 100px;
}
.banner {
  position: relative;

  min-height: 100px;
  background: url("bg.jpg");
  background-position: left 5px;

  /* background-size: cover; */
  background-size: cover;
  /* background-position: right; */
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 1.5em;
  font-family: "Zen Tokyo Zoo", cursive;
  margin-bottom: 20px;
  margin-top: 20px;
}
.banner h2 span {
  font-size: 70px;
  font-weight: 450;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.1em;
  margin-top: 20px;
}
.banner h3 {
  font-size: 1.5em;
  color: rgb(170, 162, 162);
  font-weight: 500;
  font-family: cursive;
  margin-top: 15px;
}
.btn {
  position: relative;
  background: rgb(49, 28, 182);
  display: inline-block;
  color: #fff;
  margin-top: 85px;
  /* margin-bottom: 7px; */
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  text-decoration: white;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 39px 100px;
  z-index: 1000;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-overflow: unset;
}

header ul {
  position: relative;
  /* left: 850px;
    top: 1px; */
  display: flex;
}
header a {
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 600;
  text-decoration: none;
  font-weight: 600;
}
header ul li {
  position: relative;
  list-style-type: none;
}
header ul li a {
  position: relative;
  display: inline-flex;
  margin: 2px 10px;
  font-size: 20px;
  color: lavenderblush;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  text-decoration: none;
}
header:hover ul:hover li:hover a:hover {
  /* background-color: yellowgreen; */
  text-underline-position: below;
  background-color: rgb(0, 0, 0);
  filter: invert(100%);
  margin: 4px 4px 4px 4px;
}
.heading {
  /* width: 100%; */
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}
.heading h2 {
  font-weight: 600px;
  font-size: 50px;
}
.content {
  display: flexbox;
  justify-content: space-between;
}
.contentbox {
  padding-right: 30px;
}
.contentbox h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.contentbox p {
  padding-right: 30px;
  /* margin-bottom: 18px; */
  width: 508px;
  height: 100px;
  font-size: 23px;
  font-weight: 400;
}
/* .w50 {
  min-width: 50%;
} */
.w50 img {
  width: 315px;
  display: flex;

  height: 450px;
  /* min-height: 2vh */
  position: relative;
  left: 780px;
  bottom: 95px;
  /* top: 5vh; */
  
}
/* .w50 .cn{
  width: 300px;
   position: absolute;
  height: 459px;
  background-color: yellow;
  position: relative;
  left: 750px;
  bottom: 100px;
} */
.services {
  background: #111;
  position: relative;
  /* bottom: 450px; */
}
.heading.white {
  color: #fff;
}
.services.content1 {
  display: flex;

  letter-spacing: 1px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.content1 {
  display: flex;
  justify-content: space-between;
}
.services .content1.servicesbx {
  padding: 40px 40px 0 40px;
  background: rgb(148, 148, 148);
  color: rgba(255, 255, 255, 0.842);
  /* max-width: 340px; */
  margin: 20px 20px 0 20px;
  text-align: center;
}
.services .content1 .servicesbx:hover {
  background: blue;
  border-radius: 18px;
  outline: rgb(223, 223, 223);
  filter: invert(100%);
  margin-top: 2px;
}
/* .services .content1 .servicesbx img{
    text-align: center;
    max-width: 80px;
    filter: invert(100%);
    margin-bottom: 10px;
    image-orientation: flip;
   }   */
.services .heading.white h2 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-shadow: 9px;
  box-sizing: border-box;
  position: relative;
  bottom: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 3px;
}
.services .heading.white p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 20px;
}
.services .content1 .servicesbx h2 {
  font-size: 35px;
  color: whitesmoke;
  font-weight: 600;
  text-align: center;
  text-decoration: whitesmoke;
  margin: 0 20px;
}
.services .content1 .servicesbx p {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  margin: 10px 20px 0 15px;
  padding: 5px 10px 0 5px;
  color: wheat;
  font-family: cursive;
}
.work {
  /* background-color: rgba(247, 4, 215, 0.37); */
  background-image: url("blue.jpg");
  position: relative;

  /* bottom: 500px; */
}
.work .heading h2 {
  /* font-family: "Sacramento", cursive; */
  font-family: 'Lobster', cursive;
  font-weight: 500;
  font-size: 60px;
  color: rgb(255, 255, 255);
  /* margin-bottom: 0px; */
  letter-spacing: 4px;
  line-height: 56px;
}
.work .heading p {
  color: beige;
  font-size: 30px;
  font-weight: 550;
  font-style: italic;
  margin-top: 4px;
}
.work .content {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.work .content .workbx1 img {
  width: 90%;

  padding: 20px 20px 25px 0px;
}
.work .content .workbx2 img {
  display: flex;
  /* width: 45%;  */
  width: 500px;
  height: 345px;
  padding: 20px 20px 25px 0px;
}
.work .content .workbx3 img {
  /* display: flex; */
  /* width: 45%;  */
  width: 523px;
  height: 345px;
  padding: 20px 20px 25px 0px;
}
.work .content .workbx4 img {
  /* display: flex; */
  /* width: 45%;  */
  width: 500px;
  height: 345px;
  padding: 20px 20px 25px 0px;
}

/* .work .content .workbx{
  max-width: 100%;
} */

.testimonial {
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px; */
  background-color: rgba(211, 208, 208, 0.623);
  background-size: cover;
  /* position: relative; */
  /* bottom: 500px; */
  /* min-height: 100%; */
}

.testimonial .heading {
  margin: 0px;
}
.testimonial .heading h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 50px;
  text-decoration: teal;
}
.testimonial .heading p {
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
}
.content .testimonialbx p {
  font-weight: 600;
  font-size: 20px;
  background-color: rgba(193, 195, 197, 0.562);
  padding: 15px 15px 15px 8px;
  border-radius: 20px;
}

.container ul {
  font-size: 20px;
  text-align: left;
  line-height: 25px;
  font-weight: 600;

  box-shadow: 9px 7px 3px rgb(94, 93, 93);
}
.container ul:hover {
  background-color: rgb(252, 1, 1);
  color: rgb(0, 0, 0);
}
.container .lorem1 img {
  /* display: flex; */
  width: 55px;
  height: 55px;
  position: relative;
  right: 50px;
  top: 63px;
}
.lorem1 ul {
  /* display: flex; */
  background-color: rgb(10, 6, 255);
  padding: 0 4px 6px 2px;
  margin-bottom: 5px;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 0px;
  color: rgb(255, 255, 255);
}
.container .lorem2 img {
  /* display: flex; */
  width: 60px;
  height: 60px;
  position: relative;
  right: 50px;
  top: 70px;
}

.lorem2 ul {
  background-color: rgb(10, 6, 255);

  margin-bottom: 15px;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 0px;
  color: rgb(255, 255, 255);
}
.container .lorem3 img {
  /* display: flex; */
  width: 60px;
  height: 60px;
  position: relative;
  right: 50px;
  top: 70px;
}
.lorem3 ul {
  margin-bottom: 25px;
  padding: 15px 15px 15px 15px;
  background-color: rgb(10, 6, 255);
  border-radius: 10px;
  margin-left: 30px;
  color: rgb(255, 255, 255);
}
.container .lorem4 img {
  /* display: flex; */
  width: 60px;
  height: 60px;
  position: relative;
  right: 50px;
  top: 83px;
  color: rgb(255, 255, 255);
}
.lorem4 ul {
  margin-bottom: 25px;
  padding: 15px 15px 15px 15px;
  border-radius: 20px;
  background-color: rgb(10, 6, 255);
  border-radius: 10px;
  margin-left: 30px;
  color: #fff;
}
.container p {
  /* display: inline; */
  font-size: 20px;
  font-weight: 500;
  /* letter-spacing: 0vh; */
  padding: 10px 10px 10px 15px;
  background-color: rgba(10, 6, 255, 0.719);
  border-radius: 20px;
}
.socialmedias{
  align-items: center;
  padding-bottom: 20px;
padding-top: 30px;
padding-right: 0px;
padding-left: 0px;
  /* padding-bottom: 70px; */
  
  /* justify-content: center; */
  background-color: rgb(0, 0, 0);
}
.socialmedias .sm h2{
font-size: 20px;
align-items: center;
color: whitesmoke;
display: flex;
align-items: center;
position: relative;
left: 620px;
margin-bottom: 20px;
width: 150px;
}
.socialmedias .sm img {
  display: flex-inline;
  justify-content: space-between;
  position: relative;
  left: 590px;
  bottom: 1px;
  width: 25px;
  height: 25px;
  filter: invert(100%);
}
.socialmedias .sm img[src]{
/* padding-right: 5px; */
margin-right: 25px;
/* padding-left: 1px; */
justify-content: space-between;
}
.socialmedias .sm .icn1 img{
   

  
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 40px;
  background-color: rgb(39, 39, 39);
}

footer p{
  padding-bottom: 9px;
  background-color: rgb(7, 2, 54);
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 15px;
  /* margin-top: 4px; */
}
.contact {
  position: relative; 
  margin-top: 0px; 
  margin-bottom: 0px;
  width: 100%;
  height: 990px;
  bottom: 5000px;
   top: 0px;
  background: rgb(0, 0, 0);
}
.contact .heading h2 {
  font-style: normal;
  font-size: 60px;
  text-decoration: brown;
  font-family: "Chicle", cursive;
  letter-spacing: 3px;
  color: red;
  margin-bottom: 90px;
}
.contact .heading p {
  line-height: 30px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.content .contactinfo h2 {
  font-size: 45px;
  color: #2810b4;
  font-weight: 600;
  font-weight: 600;
  /* margin-bottom: 20px; */
}
.text h3 {
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.text p {
  font-size:25px;
  font-weight: 500px;
  color: rgba(175, 175, 175, 0.699) ;
}

/* .content .socialmedia .icns .ig img{
  margin-bottom: 0 10px 0 10px;
} */

/* .formbx{
  width: 900px;
  height: 50%;
} */
/* form{
  height: 250px;
  width: 200px;
  position: relative;
  bottom: 500px;
} */

.formbx form {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 200px;
  position: relative;
  bottom: 560px;
 
  /* position: relative; */
  /* top: 1px; */
  /* bottom: 500px; */
  
  /* height: 250px; */
 /* height: 45px; */
  left: 520px;
  /* top: 1vh; */
  /* bottom: 450px; */
  text-align: left;
  /* margin: 70px 0 0 0; */
  color: rgb(0, 0, 0);
  inline-size: 600px;
  line-height: 80px;
  font-size: 40px;
}
.formbx form h3{
  text-align: center;
  color: #2810b4;
  margin-bottom: 20px;
}
.contactinfo h3 {
  
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1;
}
.formbx form input,
.formbx form textarea { 
  margin-bottom: 30px;
  height: 2000px;
  font-family: Georgia, "Times New Roman", Times, serif;

  padding: 15px;
  font-size: 16px;

  background: rgb(78, 78, 78);
  border: none;
  outline: none;
  color: #fff;
  font-size: 25px;
  text-align: center;
}
.formbx form input[type="submit"] {
  max-width: 110px;
  padding: 9px 10px 9px 10px;
  border-radius: 5px;
  background-color: #2810b4;
  cursor: pointer;
  text-align: center;
  position: relative;
  left: 250px;
}